/* css styles */
.quarto-title-banner {
    text-align: center;
    margin-bottom: 0px;
}

#title-block-header {
    margin-bottom: 0px;
}

.body {
    font-size: 1.15em;
}

.white {
    background-color: white;
    min-height: 10%;
}

.white {
    background-color: white;
    min-height: 30px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
}

.main {
    background-color: #008794;
    color: white;
    min-height: 30px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.big {
    font-size: 1.15em;
}

.normal {
    font-size: 0.95em;
}

.tiny {
    font-size: 0.5em;
}

.mono {
    font-family: monospace;
}

.button {
    background-color: #008794;
    /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
}

h2 {
    text-align: center;
}

.panel-tabset li.nav-item:hover {
    background-color: #008794;
}

.highlight {
    color: red;
    font-weight: bold;
}